.top {
  opacity: 0.6;
  background-color: #533483;
  font-size: 25px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
.arrow {
  color: white;
  margin-top: 15px;
}
