.footer {
  /* position: relative; */

  max-width: 100%;
  background-color: #e94560;
}

.submit {
  color: #e94560;
  background-color: #16213e;
  height: 60px;
  margin-left: 10px;
}
.submit:hover {
  background-color: white;
  color: #19274d;
}

#scroll-container {
  border: 3px solid white;
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  transform: translateX(-100%);
  animation: my-animation 15s linear infinite;
}

@keyframes my-animation {
  from {
    transfrom: translatex(-100%);
  }
  to {
    transform: translate(100%);
  }
}
